@model SubCategoryFormViewModel

@{
    ViewBag.Title = "Create Sub Category";
}

<div class="row">
    <div class="col-md-offset-2 col-md-6">
        <h2>@ViewBag.Title</h2>
        @using (Html.BeginForm("Create", "SubCategories", FormMethod.Post))
        {
            Html.RenderPartial("_SubCategoryForm", Model);
        }
    </div>
</div>