body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a.disabled {
    pointer-events: none;
}

.site-image {
    float: left;
    margin-right: 15px;
}

.edit-button {
    float: left;
    margin-right: 4px;
}

.site-glyphicon {
    margin-left: 15px;
}

.last-user-image {
    margin-right: 10px;
    margin-left: 10px;
}

.search-form {
    margin-top: 7px;
}

.site-panel {
    padding: 20px;
}

input, select, textarea {
    max-width: 100%;
}

.glyphicon-submit {
    margin-left: 15px;
    background: none;
    border: none;
    padding: 0;
}

.glyphicon-vote-submit {
    background: none;
    border: none;
    padding: 0;
}

.glyphicon-button {
    font-size: 20px;
}

.glyphicon-vote-button {
    font-size: 15px;
}

.lock-button {
    margin-right: 4px;
}