@model CommentFormServiceModel

@{
    ViewBag.Title = "Create Comment";
}

<div class="row">
    <div class="col-md-offset-2 col-md-6">
        <h2>@ViewBag.Title</h2>
        @using (Html.BeginForm("Create", "Comments", FormMethod.Post))
        {
            @Html.Partial("_CommentForm", Model);
        }
    </div>
</div>