@model CategoryFormServiceModel

@Html.AntiForgeryToken()
<div class="form-group">
    @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name, string.Empty, new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a class="btn btn-default" href=@Url.Action("All", "Categories")>Back</a>
        <input class="btn btn-success" type="submit" value="Save Category" />
    </div>
</div>