@model CategoryFormServiceModel

@{
    ViewBag.Title = "Edit Category";
}

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h2 class="col-md-offset-2">@ViewBag.Title</h2>
        @using (Html.BeginForm("Edit", "Categories", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            Html.RenderPartial("_CategoryForm", Model);
        }
    </div>
</div>