@model AnswerFormServiceModel

@{
    ViewBag.Title = "Edit Answer";
}

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h2 class="col-md-offset-2">@ViewBag.Title</h2>
        @using (Html.BeginForm("Edit", "Answers", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.Partial("_AnswerForm", Model)
        }
    </div>
</div>