<a href="@Url.Action("Deleted", "Questions", new { area = WebConstants.ModeratorArea })" class="btn btn-default">Questions</a>
<a href="@Url.Action("Deleted", "Answers", new { area = WebConstants.ModeratorArea })" class="btn btn-default">Anwers</a>
<a href="@Url.Action("Deleted", "Comments", new { area = WebConstants.ModeratorArea })" class="btn btn-default">Comments</a>